<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/results.css">
</head>
<body>
	<div class="app"></div>
    <% tracks.forEach(function(track) { %>
        <div class="track" data-preview-url="<%= track.preview_url %>">
    		<div class="album-art">
				<img class="album-cover" src='<%= track.album.images[0].url %>' />
			</div>
			<div class="track-details">
				<div>
		    		<p>
		    			<%= track.name %>
		    		</p>
		    		<p>
		    			<%= track.artists[0].name %>
		    		</p>
		    	</div>
	    	</div>
    	</div>
    <% }); %>
    <iframe class="player" src=""></iframe>
    <script type="text/javascript" src="../js/bundle.js"></script>
</body>
</html>