.track, .artist {
	position: relative;
	margin: 3px 0;
	height: 48px;
	display: flex;
	align-items: center;
	background-color: rgba(27, 37, 31, 0.84);
	color: white;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid;
	border-color: rgba(27, 37, 31, 0.84);
	transition: border-color .5s;
}

.track:active, .artist:active {
	top: 1px;
}

.album-art, .artist-art {
	flex: 0;
	flex-basis: 48px;
	width: 48px;
	height: 48px;
	background-size: cover;
    background-repeat: no-repeat;
}

.profile-pic {
	width: 36px;
	height: 36px;
	background-size: cover;
	background-repeat: no-repeat;
}

.track-details, .artist-details {
	flex: 1;
	display: flex;
	align-items: center;
	padding: 12px;
	font-size: 16px;
	line-height: 16px;
	text-align: left;
}

.player {
	visibility: hidden;
}

.like {
	visibility: hidden;
	background-color: #b7b7b7;
}

.track:hover .like {
	visibility: visible;
}

.like:hover {
	background-color: #b7c1b2;
}

.dislike {
	background-color: #5cbf2a;
}

.artist-view-image {
	width: 100%;
	height: 300px;
	background-size: cover;
    background-repeat: no-repeat;
}

.header {
	font-size: 24px;
	padding: 12px;
	background-color: #2f2f2f;
}

.playing-now, .artist-selected {
	border: 2px solid;
	border-color: blue;
	transition: border-color .5s;
}
