.track, .artist {
	position: relative;
	margin: 3px 0;
	height: 48px;
	display: flex;
	align-items: center;
	background-color: rgba(27, 37, 31, 0.84);
	color: white;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid;
	border-color: rgba(27, 37, 31, 0.84);
	transition: border-color .5s;
}

.track:active, .artist:active {
	top: 1px;
}

.preview-unavailable {
	background-color: rgba(0, 0, 0, 0.84);
}

.album-art, .artist-art {
	flex: 0;
	flex-basis: 48px;
	width: 48px;
	height: 48px;
	background-size: cover;
    background-repeat: no-repeat;
}

.profile-pic {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 6px;
}

.track-details, .artist-details {
	flex: 1;
	display: flex;
	align-items: center;
	padding: 12px;
	font-size: 16px;
	line-height: 16px;
	text-align: left;
}

.player {
	width: 0;
	height: 0;
	overflow: hidden;
}


.like-toggle.heart {
	margin-right: 8px;
  	border: none;
  	text-align: center;
 	height: 30px;
  	font-size: 1em;
	border-radius: 100px;
  	background: #6c716c;
  	color: #fff;
}

.like-toggle.heart:not(.like-active):hover{
  background: #34750f;
  width: 60px;
}

.dislike-toggle.heart {
	margin-right: 8px;
  	border: none;
  	text-align: center;
 	height: 30px;
  	font-size: 1em;
	border-radius: 100px;
	width: 60px;
  	background: #34750f;
  	color: #fff;
}

.dislike-toggle.heart:not(.dislike-active):hover{
  background: #802b2b;
}

.artist-view-image {
	width: 100%;
	height: 300px;
	background-size: cover;
    background-repeat: no-repeat;
}

.header {
	font-size: 24px;
	padding: 12px;
	background-color: #2f2f2f;
}

.playing-now, .artist-selected {
	border: 2px solid;
	border-color: #052d69;
	transition: border-color .5s;
}

.list-enter {
  opacity: 0.01;
}

.list-enter.list-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.list-leave {
  opacity: 1;
}

.list-leave.list-leave-active {
  opacity: 0.01;
  transition: opacity 250ms ease-in;
}

.playlist-name-input {
	padding: 0;
}

.login-with-spotify {
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
}

.login-with-spotify-arrow {
	width: 100px;
	height: 100px;
	padding-bottom: 4px;
}
