.track, .artist {
	padding: 12px;
	margin: 12px;
	width: 400px;
	height: 130px;
	display: flex;
	align-items: center;
	background-color: gray;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.album-art, .artist-art {
	flex: 0;
}

.album-cover, .artist-image {
	width: 120px;
	height: 120px;
}

.track-details, .artist-details {
	flex: 1;
	display: flex;
	align-items: center;
	padding: 12px;
}

.player {
	visibility: hidden;
}

input {
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	background-color: #3CBC8D;
	color: white;
}

button {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

button:hover {
	background-color:#5cbf2a;
}

button:active {
	position:relative;
	top:1px;
}

button:focus,
input:focus {
	outline: 0;
}

.like {
	background-color: #b7b7b7;
	border:1px solid #e2e2e2;
}

.like:hover {
	background-color:#b7c1b2;
}

.inline {
	flex: 1;
}

.results {
	display: flex;
}
